{%load bootstrap4%}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Tollbridge International</title>
    {%block styles%}
    {%bootstrap_css%}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {%endblock%}
</head>

<body>
    {%include "navbar.html"%}
    
    {%block content%}

    {%block scripts%}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/6a129e1dba.js"></script>
    {%bootstrap_javascript%}
    {%endblock%}

    {%endblock%}
</body>

</html>