<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="prerender stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- Custom styles for this template -->

<link href="../../static/css/nav.css" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
  crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-3 fixed-top">
        <a class="navbar-brand" href="#">
                <img class="logo horizontal-logo" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/horizontal-logo.svg" alt="forecastr logo">
        </a>
        <button type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div id="navbarContent" class="collapse navbar-collapse">
          <ul class="navbar-nav mx-auto">
            <!-- Megamenu-->
            <li class="nav-item dropdown megamenu"><a id="megamneu" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle font-weight-bold">Innovation Strategy</a>
              <div aria-labelledby="megamneu" class="dropdown-menu">
                <div class="container">
                  <div class="row bg-white rounded-0 m-0 shadow-sm">
                    <div class="col-lg-7 col-xl-8">
                      <div class="p-4">
                        <div class="row">
                          <div class="col-lg-6 mb-4">
                            <h6 class="font-weight-bold text-uppercase">MegaMenu heading</h6>
                            <ul class="list-unstyled">
                              <li class="nav-item"><a href="" class="nav-link text-small pb-0">Unique Features</a></li>
                              <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Image Responsive</a></li>
                              <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Auto Carousel</a></li>
                              <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Newsletter Form</a></li>
                            </ul>
                          </div>
                          <div class="col-lg-6 mb-4">
                            <h6 class="font-weight-bold text-uppercase">MegaMenu heading</h6>
                            <ul class="list-unstyled">
                              <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Unique Features</a></li>
                              <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Image Responsive</a></li>
                              <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Auto Carousel</a></li>
                              <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Newsletter Form</a></li>
                            </ul>
                          </div>
                          <div class="col-lg-6 mb-4">
                            <h6 class="font-weight-bold text-uppercase">MegaMenu heading</h6>
                            <ul class="list-unstyled">
                              <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Unique Features</a></li>
                              <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Image Responsive</a></li>
                              <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Auto Carousel</a></li>
                              <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Newsletter Form</a></li>
                            </ul>
                          </div>
                          <div class="col-lg-6 mb-4">
                            <h6 class="font-weight-bold text-uppercase">MegaMenu heading</h6>
                            <ul class="list-unstyled">
                              <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Unique Features</a></li>
                              <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Image Responsive</a></li>
                              <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Auto Carousel</a></li>
                              <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Newsletter Form</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  
                  </div>
                </div>
              </div>
            </li>
            <!-- mega menu two -->
            <li class="nav-item dropdown megamenu"><a id="megamneu" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle font-weight-bold">Business Design</a>
                <div aria-labelledby="megamneu" class="dropdown-menu">
                  <div class="container">
                    <div class="row bg-white rounded-0 m-0 shadow-sm">
                      <div class="col-lg-7 col-xl-8">
                        <div class="p-4">
                          <div class="row">
                            <div class="col-lg-6 mb-4">
                              <h6 class="font-weight-bold text-uppercase">MegaMenu heading</h6>
                              <ul class="list-unstyled">
                                <li class="nav-item"><a href="" class="nav-link text-small pb-0">Unique Features</a></li>
                                <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Image Responsive</a></li>
                                <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Auto Carousel</a></li>
                                <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Newsletter Form</a></li>
                              </ul>
                            </div>
                            <div class="col-lg-6 mb-4">
                              <h6 class="font-weight-bold text-uppercase">MegaMenu heading</h6>
                              <ul class="list-unstyled">
                                <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Unique Features</a></li>
                                <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Image Responsive</a></li>
                                <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Auto Carousel</a></li>
                                <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Newsletter Form</a></li>
                              </ul>
                            </div>
                            <div class="col-lg-6 mb-4">
                              <h6 class="font-weight-bold text-uppercase">MegaMenu heading</h6>
                              <ul class="list-unstyled">
                                <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Unique Features</a></li>
                                <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Image Responsive</a></li>
                                <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Auto Carousel</a></li>
                                <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Newsletter Form</a></li>
                              </ul>
                            </div>
                            <div class="col-lg-6 mb-4">
                              <h6 class="font-weight-bold text-uppercase">MegaMenu heading</h6>
                              <ul class="list-unstyled">
                                <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Unique Features</a></li>
                                <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Image Responsive</a></li>
                                <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Auto Carousel</a></li>
                                <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Newsletter Form</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    
                    </div>
                  </div>
                </div>
              </li>

              <!-- mega menu three -->
              <li class="nav-item dropdown megamenu"><a id="megamneu" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle font-weight-bold">Talent Development</a>
                <div aria-labelledby="megamneu" class="dropdown-menu">
                  <div class="container">
                    <div class="row bg-white rounded-0 m-0 shadow-sm">
                      <div class="col-lg-7 col-xl-8">
                        <div class="p-4">
                          <div class="row">
                            <div class="col-lg-6 mb-4">
                              <h6 class="font-weight-bold text-uppercase">MegaMenu heading</h6>
                              <ul class="list-unstyled">
                                <li class="nav-item"><a href="" class="nav-link text-small pb-0">Unique Features</a></li>
                                <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Image Responsive</a></li>
                                <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Auto Carousel</a></li>
                                <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Newsletter Form</a></li>
                              </ul>
                            </div>
                            <div class="col-lg-6 mb-4">
                              <h6 class="font-weight-bold text-uppercase">MegaMenu heading</h6>
                              <ul class="list-unstyled">
                                <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Unique Features</a></li>
                                <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Image Responsive</a></li>
                                <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Auto Carousel</a></li>
                                <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Newsletter Form</a></li>
                              </ul>
                            </div>
                            <div class="col-lg-6 mb-4">
                              <h6 class="font-weight-bold text-uppercase">MegaMenu heading</h6>
                              <ul class="list-unstyled">
                                <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Unique Features</a></li>
                                <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Image Responsive</a></li>
                                <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Auto Carousel</a></li>
                                <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Newsletter Form</a></li>
                              </ul>
                            </div>
                            <div class="col-lg-6 mb-4">
                              <h6 class="font-weight-bold text-uppercase">MegaMenu heading</h6>
                              <ul class="list-unstyled">
                                <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Unique Features</a></li>
                                <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Image Responsive</a></li>
                                <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Auto Carousel</a></li>
                                <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Newsletter Form</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    
                    </div>
                  </div>
                </div>
              </li>
            <li class="nav-item"><a href="" class="nav-link font-weight-bold">About</a></li>
            <li class="nav-item"><a href="" class="nav-link font-weight-bold">Services</a></li>
            <li class="nav-item"><a href="" class="nav-link font-weight-bold">Contact</a></li>
          </ul>
        </div>
      </nav>
      <!-- End -->
</body>
</html>